:root{
    --naranja1: #ffa333; 
    --naranja2: #fbac64;
    --naranja3: #ffd19b;
    --naranja4: #ffe8cd;
    --blanco: #fff; 
    --oscuro: #311f11 ;

    background-color: #ffe8cd;
}

@font-face {
    font-family: acidGR;
    src: url(../aka-acidgr-realadult.otf)
}

@font-face {
    font-family: alata;
    src: url(../alata-regular.ttf);
}

@font-face {
    font-family: copper;
    src: url(../Copperplate.ttf);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    overflow-x: hidden ;
}

*, *::after, *::before{
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------------------------------------*/
/* Globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titulos); 
}
h3,p,a{
    font-family: var(--parrafo);
}

.ocultar{
    display: none;
}
.btnCerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--oscuro);
    position: absolute;
    top:0;
    right:50px;
    user-select: none;
    font-family: alata;
}
.btnCerrar:hover{
    cursor: pointer;
}
.pantalla-completa{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0,.5);
    z-index: 4;
}

@keyframes desplazamiento{
    0%{
        transform: translatex(100%);
    }
    100%{
        transform: translatex(0%);
    }

}

.btn{
    text-decoration: none;
    color: var(--naranja4);
    font-size: 2.5rem;
    font-family: alata;
    text-transform: capitalize;
    padding: 1rem 3rem;
    border-radius: 7px;
    transition: all .2s ease-in-out;
}
@media(max-width: 768px){
    .btn{
        font-size: 1.5rem;
        padding: 1rem 2rem;

    }
    

}
.bordes{
    border: 2px solid var(--naranja4);
    margin-top: 3rem;
}
.bordes:hover{
    color: var(--oscuro);
    background-color: var(--naranja2);
}

img{
    max-width: 100%;
}



/*------------------------------------------------------------------------------------------------------------*/
/* Encabezado*/

.contenedor-navegacion{
    background-color: var(--naranja2);
    position: relative;
    z-index: 5;
    border-color: var(--naranja1);
    border-style: solid;
    border-width: 1.2px;
}
.logochico{
    width: 100px;
    height: 100px;
} 
.contenido-navegacion{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.navegacion a{
    color: var(--oscuro);
    text-decoration: none;
    font-family: alata;
    font-size: 3rem;
    padding: 1.5rem;
    display: block;   
    text-align: center;
    padding-left: 3rem;
    
}
@media(min-whidth: 768px){
    .navegacion a{
        text-align: center;
        font-size: 2rem;
    }
}

.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    height: 100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--naranja2); 
    animation: desplazamiento .5s ease-in-out;
    border-color: var(--naranja1);
    border-style: solid;
    border-width: 1.2px;
}


/*------------------------------------------------------------------------------------------------------------*/
/*Menu hamburguesa*/
.menuh:hover{
    cursor: pointer;
}


.menuh span{
    background-color: var(--oscuro);
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .7rem;
}

/*------------------------------------------------------------------------------------------------------------*/
/*video*/
.contenido-header{
    position: relative;
}
.contenido-header::before{
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
}
video{
    width: 100%;
    height: 100%;
}

.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logovideo{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-color: #ffa333;
    border-style: solid; 
    margin-top: 60px;
} 
@media(max-width: 768px){
    .logovideo{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border-color: #ffa333;
        border-style: solid;
        margin-top: 60px;
    }
}

/*------------------------------------------------------------------------------------------------------------*/
/*Sobre Nosotros*/


.contenedor-nosotros{
    padding-top: 5rem;
}

@media(min-width: 768px){
    .contenedor-nosotros{
        display: flex ;
        justify-content: space-between;
    }

}
.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem);
}

.pareja{
    margin-top: 20rem;
    margin-left: 2.4rem;
}
@media(min-width: 768px){
    .pareja{
        margin-top: 1rem;
       
    }

}
.imagen1{ 
    max-width: 100%;
    width: 300px;
    height: 300px;
    
}

@media(min-width: 768px){
    .imagen1{
        width: 500px;
        height: 333px;
        border-radius: 15px;
        margin-top: 1rem;
        margin-bottom: -19rem;
    }

}

.texto-nosotros p{
    font-size: 2rem;
    text-align: left;
    margin: 2rem 2rem;
    color: var(--oscuro);
    font-family: copper;
   
}

.texto-nosotros h1{
    font-size: 4rem;
    text-align: left;
    margin: 1rem 2rem;
    color: var(--oscuro); 
    font-family: alata;
    
    
}

.texto-nosotros h2{
    font-size: 4rem;
    text-align: left;
    margin: 1rem 2rem;
    color: var(--oscuro); 
    font-family: acidGR;
    
}


/*------------------------------------------------------------------------------------------------------------*/
/*Catalogo*/
/*Titulo*/
.texto-catalogo{
    text-align: center;
    font-size: 5rem;
    background-color: #311f11;
    color: #ffa333;
    font-family: alata; 
    padding: 3rem;
   border-radius: 5px;
}
 
/*------------------------------------------------------------------------------------------------------------*/
/*Menu*/
.menu{
    padding-top: 16rem;
}

/*------------------------------------------------------------------------------------------------------------*/
/*Botones del menu del catalogo*/ 

.botones-catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botones-catalogo button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}

@media(min-width: 768px){
    .botones-catalogo{
        display: inline-block;
    }
    
    .botones-catalogo button{
        flex: unset;
    }

}

.botones-catalogo .btn-cat{
    display: inline-block;
    background-color: var(--naranja2);
    font-size: 2rem;
    color: var(--oscuro);
    border-radius: .5rem;
    border-color: var(--naranja1);
    border-width: .5px;
    border-style: solid;
    border-color: #311f11;
    margin-bottom: 2rem; 
    font-family: alata;
}

.botones-catalogo .btn-cat:hover{
    background-color: #311f11;
    color: var(--naranja2);
}

/*------------------------------------------------------------------------------------------------------------*/
/*Articulos del catalogo*/

@media(min-width: 768px){
    .catalogo{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.articulo{
    flex: 0 0 calc(33.3% - 1rem);
    border:  1px solid var(--oscuro); 
    padding: 2rem;
    border-radius: 5px; 
    margin-bottom: 1rem;
}

.catalogo .i{
    width: 500px;
    height: 300px;
}

/*------------------------------------------------------------------------------------------------------------*/
/*Titulo del articulo y descripcion*/

.articulo h2{
    text-align: center;
    color: var(--oscuro);
    font-family: alata;

}

.articulo p{
    font-size: 2rem;
    font-family: copper;
    color: var(--oscuro);
}

/*------------------------------------------------------------------------------------------------------------*/
/*Precio*/

.precio{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.precio p{
    font-style: normal;
    font-size: 2rem;
    color: var(--oscuro);
    padding-top: 9rem;
}

.precio button{
    
    padding: 1rem;
    background-color: var(--naranja2);
    font-size: 2rem;
    color: var(--oscuro);
    border-radius: .5rem;
    border-color: var(--naranja1);
    border-width: .5px;
    border-style: solid;
    border-color: #311f11;
    margin-bottom: 2rem;
    margin-top: 10rem; 
    font-family: alata;
}

.precio button:hover{
    background-color: #311f11;
    color: #ffd19b;
    border-color: #ffa333;
}

/*------------------------------------------------------------------------------------------------------------*/
/*Contactos*/


.informacion-contacto {
    flex: 0 0 calc(50% - 1rem);
    text-align: center; 
    background-color: #311f11;
    height: 43rem;
    border-radius: 5px;
}
.informacion-contacto h3, p, i{
    color: #fbac64; 
    height: 3rem;
    padding-top: 3rem;
}

.informacion-contacto h3{
    font-size: 4rem;
    margin-top: 4rem;
    font-family: alata; 
}
.informacion-contacto p{
    font-size: 2rem;
    font-family: copper;
}
.informacion-contacto i{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.redes-sociales{
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 5rem;
}

/*------------------------------------------------------------------------------------------------------------*/
/*Pie de Pagina*/

@media(min-width: 768px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }
}

.info{
    flex: 0 0 calc(25 - 1rem);
    border: #311f11 solid;
    border-width: .5px;
    border-radius: 5px; 
    padding: 2rem 5rem;
    border-color: #311f11;
    margin-right: 1rem;
}
.info h3, .info p{
    color: #311f11;
    text-align: center;
    font-family: alata; 
}
.info h3{
    font-size: 1.5rem;
}
.pie-pagina{
    margin-top: 5rem;
    background-color: #ffa333;
    padding: 5rem;
}

.footer{
    text-align: center;
    background-color: #ffa333;
    color: #311f11;
    padding: 2rem;
}

.footer h3{
    font-size: 1rem;
    font-family: alata; 
}

